<% provide(:title, 'Help') %>
<h1 id="">Help</h1>
<p>
  Get help on hte Ruby on Rails Tutorial at the
 <a href="http://railstutorila.org/help">Rails Tutorial help page</a>
 To get he;p on this sample app, see the
 <a href="https://railstutorial.org/book">Rails Tutorial book</a>
</p>
